@model Steeltoe.Samples.Redis.Models.RedisViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>Testing for cibuild trigger.</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Steeltoe: Display information from Redis cache. -->
<div class="alert alert-secondary">
    <h4>Redis server info</h4>
    <table class="table table-bordered table-primary">
        <thead>
        <tr>
            <th scope="col">Connection String</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Model.ConnectionString</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-secondary">
    <h4>Data stored in Redis cache (using IDistributedCache API)</h4>
    <table class="table table-bordered table-primary">
        <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach ((string key, string? value) in Model.DistributedCacheData)
        {
            <tr>
                <td>@key</td>
                <td>@value</td>
            </tr>
        }
        </tbody>
    </table>

    <h4>Data stored in Redis cache (using IConnectionMultiplexer API)</h4>
    <table class="table table-bordered table-primary">
        <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach ((string key, string? value) in Model.ConnectionMultiplexerData)
        {
            <tr>
                <td>@key</td>
                <td>@value</td>
            </tr>
        }
        </tbody>
    </table>

    <h4>Lua result</h4>
    <table class="table table-bordered table-primary">
        <tbody>
        <tr>
            <td>@Model.LuaResult</td>
        </tr>
        </tbody>
    </table>
</div>
