@model Dictionary<string, string>
@{
    ViewData["Title"] = "Steeltoe MySql Sample";
}
<h2>@ViewData["Title"].</h2>
<h4>Data stored in MySQL:</h4>
@foreach (var item in Model)
{
    <h5>Key @item.Key = @item.Value</h5>
}
<h4>Server Info:</h4>
<h5>Database: @ViewBag.Database</h5>
@{ #if DEBUG }
<h5>DataSource: @Html.ViewBag.DataSource</h5>
@{ #endif }