@{
    ViewData["Title"] = "CloudFoundry OAuth data from VCAP_SERVICES";
}

<h2>@ViewData["Title"]</h2>

<h4>ClientId = @ViewData["ClientId"]</h4>
<h4>Client Secret = @ViewData["ClientSecret"]</h4>
<h4>UserAuthorizationUrl = @ViewData["UserAuthorizationUrl"]</h4>
<h4>AccessTokenUrl = @ViewData["AccessTokenUrl"]</h4>
<h4>UserInfoUrl = @ViewData["UserInfoUrl"]</h4>
<h4>TokenInfoUrl = @ViewData["TokenInfoUrl"]</h4>
<h4>JwtKeyUrl = @ViewData["JwtKeyUrl"]</h4>
<h4>ValidateCertificates = @ViewData["ValidateCertificates"]</h4>
<h4>Scopes = @ViewData["Scopes"]</h4>
