@model Steeltoe.Samples.ConfigurationProviders.Models.ExternalConfiguration;
@{
    ViewData["Title"] = "Configuration Data";
}

<h2>@ViewData["Title"]</h2>
<h4>ASPNETCORE_ENVIRONMENT = @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</h4>
<h4>Property bar = @Model.Bar</h4>
<h4>Property foo = @Model.Foo</h4>
<h4>Property info.url = @Model.Info.Url</h4>
<h4>Property info.description = @Model.Info.Description</h4>
