@model Steeltoe.Extensions.Configuration.ConfigServer.ConfigServerClientSettingsOptions
@{
    ViewData["Title"] = "Configuration Settings for Spring Cloud Config Server";
}

<h2>@ViewData["Title"]</h2>

<h4>spring:cloud:config:uri = @Model.Uri</h4>
<h4>spring:cloud:config:enabled = @Model.Enabled</h4>
<h4>spring:cloud:config:env = @Model.Environment</h4>
<h4>spring:cloud:config:failFast = @Model.FailFast</h4>
<h4>spring:cloud:config:name = @Model.Name</h4>
<h4>spring:cloud:config:label = @Model.Label</h4>
<h4>spring:cloud:config:username = @Model.Username</h4>
<h4>spring:cloud:config:password = @Model.Password</h4>
<h4>spring:cloud:config:validateCertificates = @Model.ValidateCertificates</h4>
