@model IConfiguration
@{
    ViewData["Title"] = "Random Values";
}

<div class="text-center">
    <h1>Random data generation via IConfiguration</h1>
    <table class="table table-bordered">
        <tr><th>Configuration Key</th><th>Generated Value</th></tr>
        <tr><td>random:int</td><td>@Model["random:int"]</td></tr>
        <tr><td>random:long</td><td>@Model["random:long"]</td></tr>
        <tr><td>random:int(10)</td><td>@Model["random:int(10)"]</td></tr>
        <tr><td>random:long(100)</td><td>@Model["random:long(100)"]</td></tr>
        <tr><td>random:int(10,20)</td><td>@Model["random:int(10,20)"]</td></tr>
        <tr><td>random:long(100,200)</td><td>@Model["random:long(100,200)"]</td></tr>
        <tr><td>random:uuid</td><td>@Model["random:uuid"]</td></tr>
        <tr><td>random:string</td><td>@Model["random:string"]</td></tr>
    </table>
</div>